<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>MAZE</h1>

        <canvas id="level" width="500" height="500">
            need canvas
        </canvas>
        <input id="messageInput" class="hidden" type="text" size="50" maxlength="50">


        <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
        <script src="/javascripts/script.js"></script>
        <script src="/socket.io/socket.io.js"></script>


    </body>
</html>