

body {
     margin: 0; 
    padding: 0; 
    padding-top: 10px;
    text-align: center; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
    width: 1000px; /* set to desired width in px or percent */
    text-align: left; /* optionally you could use "justified" */
    border: 0px;
    padding: 0px 30px 30px 30px;  
    margin: 0 auto; 
    background: url("../images/back.png") repeat;
}

a {
  color: #00B7FF;
}

h1 {
    text-align:center;
    font-family: "KnightsQuest";
}

#mainHeadline {
    font-family: "KnightsQuest";
    font-size: 90px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

canvas {
    float:left;
}

#messageInput {
    position: absolute;

}

#description {
    width:350px;
    float: left;
    margin-left: 20px;
    font-size: 18px;
}

#controls {
    text-align: left;
}

#description table td {
    padding-right:30px;
}

.hidden {
    display:none;
}

@font-face {
    font-family: 'KnightsQuest';
    src: url('KnightsQuest.ttf');
}​